MNEMONIC="corn game exact media fat renew grant flame profit fresh patrol cost"
# Used for infura based network
INFURA_KEY="c375814ac3b64b17b0da449b85d66aa9"
# Used for custom network
NODE_URL="https://mainnet.infura.io/v3/c375814ac3b64b17b0da449b85d66aa9"
ETHERSCAN_API_KEY="UEM9TZHZMIZ6EA84K5N7WFBN7IMQB9FQSW"
# Use the Safe singleton factory for singleton deployment. This is required if EIP-155 is enforce on a chain
# USE_SAFE_SINGLETON_FACTORY="true"
